#!/usr/bin/make -f
# debian/rules file - for GnuPG
# Copyright 1994,1995 by Ian Jackson.
# Copyright 1998-2003 by James Troup.
# Copyright 2003-2004 by Matthias Urlichs.
#
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)
# This file may have to be extensively modified

include /usr/share/dpkg/architecture.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Ragnarok: use clang, and extra flags.
export CC=clang
export DEB_CFLAGS_MAINT_APPEND = -flto=thin -fsanitize=cfi -fno-sanitize-trap=all -fvisibility=hidden
export DEB_LDFLAGS_MAINT_APPEND = -flto=thin -Wl,-O2

# Avoid parallel tests on hppa and riscv64 architecture.
# Parallel tests generates high load on machine which causes timeouts and thus
# triggers unexpected failures.
ifeq (,$(filter $(DEB_HOST_ARCH), hppa riscv64))
AUTOTEST_FLAGS = "--parallel"
else
AUTOTEST_FLAGS = "--no-parallel"
endif

%:
	dh $@ --with=autoreconf --builddirectory=build

override_dh_auto_configure:
	dh_auto_configure --builddirectory=build-maintainer -- \
		--enable-maintainer-mode
	dh_auto_configure --builddirectory=build -- --libexecdir=\$${prefix}/lib/gnupg \
		--enable-wks-tools \
		--enable-all-tests \
		--with-agent-s2k-calibration=300 \
		--enable-large-secmem

override_dh_auto_build-arch:
	dh_auto_build --builddirectory=build

override_dh_auto_test:
	dh_auto_test --builddirectory=build -- verbose=3 TESTFLAGS=$(AUTOTEST_FLAGS)

override_dh_shlibdeps:
# Make ldap a recommends rather than a hard dependency.
	dpkg-shlibdeps -Tdebian/dirmngr.substvars -dRecommends debian/dirmngr/usr/lib/gnupg/dirmngr_ldap -dDepends debian/dirmngr/usr/bin/dirmngr*
	dh_shlibdeps -Ndirmngr

# visualizations of package dependencies:
debian/%.png: debian/%.dot
	dot -T png -o $@ $<
