#! /usr/bin/make -f

# Ragnarok: add thinlto
DEB_CFLAGS_MAINT_APPEND = -flto=thin -fsanitize=cfi -fvisibility=hidden -fno-sanitize-trap=all
DEB_LDFLAGS_MAINT_APPEND = -ftlo=thin -Wl,-O2

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- CC=clang --exec-prefix=/ --with-packager=Debian --without-included-regex

override_dh_shlibdeps:
	dh_shlibdeps -- -dPre-Depends

override_dh_auto_clean:
	test ! -f Makefile || dh_auto_clean
